// This file contains very basic styles

@use '../abstracts/variables.scss' as var;
@use '../abstracts/mixins' as mix;

body {
    position: relative;
    background-color: var.$light-grayish-blue;

    // Mixin to center contents in the body
    @include mix.center(center, unset, 100vh, column);
}

main {
    margin-top: 5rem;
    margin-inline: 2rem;
}

footer {
    margin-inline: 2rem;
}