// This file contains styles for the card itself

.card {

    &-top {
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        background-color: #fff;
        display: flex;
        flex-direction: column;

        .middle {
            padding-inline: 3rem;
        }

        .image{
            height: 20rem;
            overflow: hidden;
        }
    }

    &-bottom {
        display: flex;
        background-color: #fff;
        overflow: hidden;
        flex-direction: row;
        border-radius: 0 0 1rem 1rem;
        padding-bottom: 2rem;

        .pop-up {
            display: none;
        }
    }
}